
server {
 listen 80;
 server_name oxlamons.devops.rebrain.srwx.net;

 location /.well-known/ {
  root /srv/acme;
 }

 location / {
 return 301 https://oxlamons.devops.rebrain.srwx.net$request_uri;
 root /var/www/html;
 index index.html index.htm index.nginx-debian.html;
 }

}
